<div class='center'>

  <h1>Album: <%= @collection.name %></h1>

  <%= form_tag collection_path(@collection), method: :put do %>
    <input type='text' name='collection[name]' value='<%= @collection.name %>' placeholder = 'Name'>
    <input type='text' name='collection[description]' value='<%= @collection.description %>' placeholder = 'Description'>
    <input type='hidden' name='collection[id]' value=<%= @collection.id %>>

    <input type='submit' class='button' value=<%= t('buttons.update_album') %>>

    <p class='error hidden'></p>
  <% end %>

</div>

<%= render 'monuments' %>
