<a href=<%= new_collection_path %> class='button'>Create Album</a>

<ul class='collections'>
  <% @collections.each do |collection| %>
    <li class='card'>
      <p><a href=<%= edit_collection_path(collection.id) %>><%= collection.name %></a></p>
      <% if collection.thumb_url %>
        <img src=<%= collection.thumb_url %>/>
      <% end %>
      <small><%= collection.monuments_count %> monuments</small>
      <small><%= collection.photos_count %> photos</small>
    </li>
  <% end %>
</ul>

<div class='center'>
  <% if @collections.blank? %>
    <p>No albuns</p>
  <% end %>
</div>
