<!DOCTYPE html>
<html>
<head>
  <title>Monumentr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='menu'>
  <%= link_to t('home'), root_path %>

  <% if @current_user.authenticated? %>
    <%= link_to t('buttons.create_album'), new_collection_path %>
    <%= link_to t('logout'), logout_path %>
    <p>Hello, <%= @current_user.name %></p>
  <% else %>
    <%= link_to t('sign_in'), sign_in_path %>
    <%= link_to t('sign_up'), sign_up_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <p class=<%= name %>><%= msg %></div>
<% end %>

<% if @current_user.authenticated? %>
  <div class='center search'>
    <%= form_tag search_path, id: 'search_form', method: :get do %>
      <input type='text' class='search' name='term' value='<%= @term %>' placeholder='Search for Albums/Monuments'>
    <% end %>
  </div>
<% end %>

<%= yield %>

</body>
<script>
  $('input.search').keypress(function(event) {
    if (event.which == 13) {
      event.preventDefault();
      $('#search_form').submit();
    }
  });
</script>
</html>
